@import "../3-about/about.scss";
$colorOfboxShadow: rgba(0, 0, 0, 0.358);
section#academic{
    .section-body{
        gap: 1.8rem;
        align-items: flex-start;
        ul.taps .tap{
            display: flex;
            gap: 0.5rem;
            // justify-content: flex-start;
            // text-align: start;   
            &.active img{background-color: white;}
            img{
                width: 36px;
                height: 28px;
                object-fit: contain;
                border-radius: 15%;
            }
            &:hover{
                img{
                    background-color: white;
                }
            }
        }
        .tap-details{
            flex-basis: 90% !important;
            display: flex;
            line-height: var(--line-height);
            flex: 1;
            flex-direction: column;
            gap: 2.8rem;
            letter-spacing: 0.02rem;
            color: var(--text);
            h4{
                color: var(--orange);
                position: relative;
                margin-bottom: 0.8rem;
                font-size: clamp(1rem, 2vw, 1.3rem);
            &::before{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: orange;
                top: 50%;
                left: 0;
                transform: translate(-150%,-50%);
            }
        }
                .imgs-holder{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
                    gap: 1.2rem;
                }
                figure{
                    cursor: pointer;
                    transition: 0.6s;
                    @include flexCenter;
                    flex-direction: column;
                    border-radius: 50%;
                    gap: 0.2rem;
                    box-shadow:inset 10px 11px 15px white, inset -10px -11px 15px #7c7c7c99;
                    padding: 1.5rem;
                    overflow: hidden;
                    animation: startFig 1s;
                    img{
                        max-width: 85%;
                        height: 180px;
                        object-fit: contain;
                        filter: drop-shadow(2px 4px 6px $colorOfboxShadow);
                        // border-radius: 20%;
                    }
                    &:hover{
                        scale: 1.08;
                        filter: drop-shadow(2px 4px 10px $colorOfboxShadow);
                        box-shadow:unset;
                    }
                    figcaption{
                        text-align: center;
                        color: var(--text);
                    }
                }
            }
        }
        .showFig{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
            background-color: rgba(0, 0, 0, 0.311);
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                animation:0.6s showFig forwards;
                object-fit: contain;
                width: 100%;
                height: 100%;
                position: relative;
            }
            span{
                &:hover{
                    opacity: 1;
                    scale: 1.1  ;
                    color: orangered    ;
                }
            }
        }
    }

    @keyframes showFig {
        from{
            transform:  scale(0.6);
        }
        to{
            transform:  scale(1);
        }
    }
    @keyframes startFig{
        0%{
            opacity: 0;
            scale: 0.8;
            box-shadow:unset;
        }
        40%{
            scale: 1;
            box-shadow:unset;
        }
        100%{
            box-shadow:inset 10px 11px 15px white, inset -10px -11px 15px #7c7c7c99;
            opacity: 1;

        }
    }

@media($small-below){
    #academic{
        .section-body{
            gap: 0.8rem !important;
        }
        .tap-details{
            .imgs-holder{
                grid-template-columns: repeat(auto-fill, minmax(195px,1fr)) !important;
                figure{
                    padding: 0.6rem !important;
                    padding-bottom: 1.5rem !important;
                    figcaption{
                        font-size: 0.8rem;
                    }
                }
            } 
            img{
                width: 180px !important;
                height: 150px !important;
            }
            h4::before{
            display: none;
            }
        }
    } 
}

