/*========================
    table contents
==========================

- Hero designs
- Image + icon
- texts head + parag
- social
- right sectoin
- media query

*/

/*========================
    Hero designs
========================*/

.hero {
  /* margin-top: 4rem ; */
  z-index: 2;
  position: relative;
}
.hero .container {
  gap: 20px;
}

.hero .details {
  flex-grow: 1;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

/*========================
    Image + icon
========================*/
.hero{
  padding-top: 140px;

}
.hero .details .image {
  position: relative;
}
.hero .details img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 7px var(--logo-border) inset;
  padding: 6px;
  object-fit: cover;
  object-position: 2px -6px;
  background-color: black;
}
.hero .details .verify {
  color: var(--logo-border);
  font-size: 1.5rem;
  margin-left: -1.1rem;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/*
    texts head + parag
*/
.hero h1 {
  font-size: 2.4rem;
  color: var(--title);
  transition: 0.6s;
}
.hero p {
  color: var(--text);
  transition: 0.6s;
}
/*
    social
*/
.hero .social {
  gap: 1.2rem;
}
.hero .social a {
  /* color:rgb(161, 161, 170); */
  color: var(--text);
  font-size: 20px;
}
.dark .hero .social a:hover {
  scale: 1.2;
  color: white;
}
.light .hero .social a:hover {
  scale: 1.2;
  color: rgb(45, 44, 44);
}
.hero .social a:active {
  scale: 0.9;
}

/*========================
    right section
========================*/
/* .hero .right-section{
    position: relative;
}
.hero .right-section::after{
    content: "";
    position: absolute;

} */

/*========================
    media query
========================*/

@media (max-width: 992px) {
  .hero .details {
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .hero{
    padding-top: 92px;
  }
  .hero .details {
    align-items: center;
    text-align: center;
  }
}
