@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
/*---break---*/
@plugin 'tailwindcss-animate';
@import "tw-animate-css";
/*---break---*/
/* @custom-variant dark (&:is(.dark *)); */

@tailwind base;
@tailwind components;
@tailwind utilities;

HTML{
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --secondary: oklch(0.97 0 0); /*the container background*/
  --logo-border: #5eff7d;
  --tap-border-radius:6px;
  --line-height:1.48rem; /*1.4rem*/
  --loadTime:3s;
  --font-size-title: clamp(2rem, 9vw, 6rem);
  --font-size-tap:clamp(0.8rem,2vw,1.5rem); /*responsive*/
  --padding-tap: clamp(0.3rem, 1.3vw, 0.8rem); /*responsive*/ --radius: 0.625rem; --background: oklch(1 0 0); --foreground: oklch(0.145 0 0); --card: oklch(1 0 0); --card-foreground: oklch(0.145 0 0); --popover: oklch(1 0 0); --popover-foreground: oklch(0.145 0 0); --primary: oklch(0.205 0 0); --primary-foreground: oklch(0.985 0 0); --secondary-foreground: oklch(0.205 0 0); --muted: oklch(0.97 0 0); --muted-foreground: oklch(0.556 0 0); --accent: oklch(0.97 0 0); --accent-foreground: oklch(0.205 0 0); --destructive: oklch(0.577 0.245 27.325); --border: oklch(0.922 0 0); --input: oklch(0.922 0 0); --ring: oklch(0.708 0 0); --chart-1: oklch(0.646 0.222 41.116); --chart-2: oklch(0.6 0.118 184.704); --chart-3: oklch(0.398 0.07 227.392); --chart-4: oklch(0.828 0.189 84.429); --chart-5: oklch(0.769 0.188 70.08); --sidebar: oklch(0.985 0 0); --sidebar-foreground: oklch(0.145 0 0); --sidebar-primary: oklch(0.205 0 0); --sidebar-primary-foreground: oklch(0.985 0 0); --sidebar-accent: oklch(0.97 0 0); --sidebar-accent-foreground: oklch(0.205 0 0); --sidebar-border: oklch(0.922 0 0); --sidebar-ring: oklch(0.708 0 0);
}
body{
  background-color: var(--primary);
  animation: forwards firstScreen_isFull var(--loadTime); /*this helps the beginning loading*/
}

@keyframes firstScreen_isFull{
  0%{max-height: 100vh;
    overflow: hidden;
  }
  80%{
    overflow: hidden;
  }
  to{
    max-height: initial;
  }
}

/* 
      dark - light mood
*/
/* You just can put them all inside :root and only make .light but why I do .dark also?
To make transition also from light to dark */
.light{
  --header:rgb(151 166 231);
  --primary: #d2d2d2;
  --secondary: #aeaab2; 
  --title: black;
  --subtitle: rgb(50, 50, 50);
  /* --logo-border: #0ac931; */
  --sky:url(/images/daylight.jpg);
  --blue:rgb(0 94 158);
  --orange:rgb(197 78 78);
  /* --hover: rgba(103, 103, 103, 0.652); */
  --text:black;
}


.dark{
  --header:rgb(39, 39, 42);
  --primary: rgb(33, 33, 33);
  --secondary: black; 
  --subtitle: rgb(161, 161, 170);
  --sky: url(/images/night.jpg);
  --blue: rgb(93, 188, 252);
  --orange:orange;
  --title: #eee;
  --text:#eee;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
.light, .dark, .container,#openning{
  transition:1.1s ;
}

/* btn-ui */
ul.taps{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 20%;
  gap: 2rem;
  position: sticky;
  top: 15%;
}
ul.taps li:active{
  scale: 0.9;
}
.btn-ui{
  padding: var(--padding-tap);
  background-color: var(--secondary);
  min-width:11.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--subtitle);
  font-size: var(--font-size-tap);
  text-transform: capitalize;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s , color 0.5s 0.1s;
  /* box-sizing: border-box; */
  border-radius: 6px;
  text-align: center;
}

.btn-ui.active, .btn-ui:hover{
  background-color: rgb(103, 103, 103);
  color: white;
  border-right: 3px solid var(--blue);
  border-left: 3px solid var(--blue);
  letter-spacing: 2px;
  opacity: 1;
}

/* icon of dark-light mood and others clickable */
 .icon-btn{
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.7;
  background-color: var(--bg-header);
  padding: 3px;
  border-radius: 50%;
  border: 0.4px solid yellow;
  color: var(--text);
  font-size: 20px;
}
 .icon-btn{
  opacity: 1;
  scale: 1.2;
}

 .icon-btn:active{
  scale: 0.9;
}
/* icon-btn finish*/
.divider{
  border-top: 2px solid rgba(63, 63, 70, 1);
}
.d-flex{
  display: flex;
  align-items: center;
}

img{
  width: 100%;
  height: 100%;

}

.border{
  border: 2px solid red;
}

a{
  color: initial; /*default color */
  transition: 0.3s;
}

.closeX{
  position: absolute;
  right: 7%;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px;
  opacity: 0.9;
  top: 7%;
  background: #ff9797;
  border-radius: 50%;
  padding: 1rem 1.2rem;
  z-index: 1;
}

input:disabled{
  opacity: 0.4;
}

.title{
  /* background-image: url(/public/images/sky-at-night.jpeg); */
  text-align: center;
  letter-spacing: 20px;
  text-shadow: 0px 3px 3px var(--blue);
  color: var(--primary);
  margin-bottom: 2.2rem;
  text-transform: uppercase;
  font-size: var(--font-size-title);
}

/* .title{
  background-image: url(/public/images/sky-at-night-copy.jpeg);
  text-align: center;
  -webkit-text-stroke: #ffffff 0.1px;
  font-family: system-ui, sans-serif;
  color: var(--primary);
  margin-bottom: 2.2rem;
  text-transform: uppercase;
  font-size: var(--font-size-title);
  color: transparent;
  background-clip: text;
  font-weight: 900;
  animation: move-title 75s infinite linear alternate;
} */
/* @keyframes move-title {
  0%{
    background-position: 50% 0%;
  }
  4%{
    opacity: 1;  
  }
  100%{
    background-position: 50% 100%;
  }
} */

section{
  min-height: 100vh;
  transition: 1s;
}
section:not(:nth-of-type(1)){
  opacity: 0;
}
section.animate{
  opacity: 1;
}

/* =============================
        Container + opening
================================*/
.container{
  width: 80%;
  /* border: 2px solid var(--border); */
  margin: 0 auto;
  /* background-color: var(--secondary); */
  color: #fff;
  padding: 3rem 0;
  /* background-color: tan; */
}

#openning{ 
  background: var(--sky);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
#openning::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
 }

  #openning::before{
    background: linear-gradient(to bottom, transparent 90%, var(--primary) 100%);
  }

/* Arrow scroll top*/
[class*=arrow-up]{
  /* Notice This selector and notice (*=) it finds any element that has class
  that contains arrow-up in middle
  and maybe connected with other words. Look the mouse on it  */
  color: green;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 50%;
  background-color: lightgreen;
  cursor: pointer;
  transition: 0.3s;
  z-index: 99;
}

[class*=arrow-up]:hover{
  background-color: rgb(116, 215, 116);
}
[class*=arrow-up]:active{
  scale: 0.9;
}

.parag{
  word-spacing: 0.1rem;
  letter-spacing: 0.06rem;
  line-height: 2rem;
}

a.bugs{
  color: orangered;
  position: fixed;
  bottom: 9px;
  left: 4px;
  z-index: 99;
}
a.bugs:hover{
  color: var(--text);
}

  /* =============================
        media query
================================*/
@media (max-width:992px){
  .hide{
    display: none;
  }
  .btn-ui{
    min-width: 10rem;
  }
}

@media (max-width:768px){
  .container{
    width: 95%;
    padding: 2rem 0;
  }
  [class*=arrow-up]{
    font-size: 0.8rem;
    padding: 0.8rem;
    bottom: 66px;
  }
  ul.taps{
    /* flex-direction: row; */
    gap: 1rem;
  }
  .btn-ui{
    min-width: 7.7rem;
  }
  .btn-ui:where(.active,:hover){
    letter-spacing: unset !important;
  }
  a.bugs{
    font-size: 12px;
  }
}
@media(max-width:550px){
  .btn-ui{
    min-width: 5.7rem;

  }
}
/*---break---*/
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/*---break---*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}