@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

HTML{
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --secondary: rgb(24 24 27); /*the container background*/
  --logo-border: #5eff7d;
  --tap-border-radius:6px;
  --line-height:1.4rem; /*1.4rem*/

  --font-size-title: clamp(2rem, 9vw, 6rem);
  --font-size-tap:clamp(1rem,2vw,1.5rem); /*responsive*/
  --padding-tap: clamp(0.3rem, 1.3vw, 0.8rem); /*responsive*/

}
body{
  background-color: var(--primary);
}

/* 
      dark - light mood
*/
/* You just can put them all inside :root and only make .light but why I do .dark also?
To make transition also from light to dark */
.light{
  --header:rgb(154 154 154);
  --primary: #d2d2d2;
  --secondary: #aeaab2; 
  --title: black;
  --subtitle: rgb(50, 50, 50);
  /* --logo-border: #0ac931; */
  --sky:url(/images/daylight.jpg);
  --blue:rgb(0 94 158);
  --orange:rgb(210, 137, 2);
  /* --hover: rgba(103, 103, 103, 0.652); */
  --text:black;
}
.dark{
  --header:rgb(39, 39, 42);
  --primary: rgb(33, 33, 33);
  --secondary: black; 
  --subtitle: rgb(161, 161, 170);
  --sky: url(/images/night.jpg);
  --blue: rgb(93, 188, 252);
  --orange:orange;
  --title: #eee;
  --text:#eee;
}
.light, .dark, .container,#openning{
  transition:1.1s ;
}



/* btn-ui */
ul.taps{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 20%;
  gap: 2rem;
  position: sticky;
  top: 15%;
}
ul.taps div:active{
  scale: 0.9;
}
.btn-ui{
  padding: var(--padding-tap);
  background-color: var(--secondary);
  min-width:11.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--subtitle);
  font-size: var(--font-size-tap);
  text-transform: capitalize;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s , color 0.5s 0.1s;
  /* box-sizing: border-box; */
  border-radius: 6px;
  text-align: center;
}

.btn-ui.active, .btn-ui:hover{
  background-color: rgb(103, 103, 103);
  color: white;
  border-right: 3px solid var(--blue);
  border-left: 3px solid var(--blue);
  letter-spacing: 2px;
  opacity: 1;
}

/* icon of dark-light mood and others clickable */
 .icon-btn{
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.7;
  background-color: var(--bg-header);
  padding: 3px;
  border-radius: 50%;
  border: 0.4px solid yellow;
  color: var(--text);
  font-size: 20px;
}
 .icon-btn{
  opacity: 1;
  scale: 1.2;
}

 .icon-btn:active{
  scale: 0.9;
}
/* icon-btn finish*/
.divider{
  border-top: 2px solid rgba(63, 63, 70, 1);
}
.d-flex{
  display: flex;
  align-items: center;
}

.border{
  border: 2px solid red;
}

a{
  color: initial; /*default color */
  transition: 0.3s;
}

.closeX{
  position: absolute;
  right: 7%;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px;
  opacity: 0.9;
  top: 7%;
  background: #ff9797;
  border-radius: 50%;
  padding: 1rem 1.2rem;
  z-index: 1;
}

input:disabled{
  opacity: 0.4;
}

.title{
  text-align: center;
  letter-spacing: 20px;
  text-shadow: 0px 3px 3px var(--blue);
  color: var(--primary);
  margin-bottom: 2.2rem;
  text-transform: uppercase;
  font-size: var(--font-size-title);
}

section{
  min-height: 100vh;
  transition: 1s;
}
section:not(:nth-of-type(1)){
  opacity: 0;
}
section.animate{
  opacity: 1;
}

#loading{
  font-size: 4rem;
  color: white;
  text-align: center;
  /* border: 1px solid; */
  -webkit-text-stroke: #8c8c8c 0.5px;
  color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  /* line-height: 7.5rem; */
  font-family: system-ui, sans-serif;
  background-clip: text;
  background-image: linear-gradient(92deg, var(--blue) 0%, var(--blue) 30%, var(--orange) 70%, var(--orange) 100%);
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin: auto;
}
#loading::before{
  content: "";
  position: absolute;
  /* inset: 0; */
  /* background-image: linear-gradient(292deg, var(--primary) 50%, #00800000 50%); */
  background-image: linear-gradient(90 deg, var(--primary) 50%, rgba(0, 0, 255, 0) 50%);
  height: 100%;
  width: 100%;
  /* transform-origin: left; */
  top: 50%;
    left: 50%;
    transform: translate(-50%);
    animation: loader 2s linear infinite;
    /* background: red; */

}


@keyframes loader{
to{
  transform: translate(-50%) rotate(360deg);
}
}
/* =============================
        Container + opening
================================*/
.container{
  width: 80%;
  /* border: 2px solid var(--border); */
  margin: 0 auto;
  /* background-color: var(--secondary); */
  color: #fff;
  padding: 3rem 0;
  /* background-color: tan; */
}

#openning{ 
  background: var(--sky);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
#openning::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
 }

  #openning::before{
    background: linear-gradient(to bottom, transparent 90%, var(--primary) 100%);
  }



/* Arrow scroll top*/
[class*=arrow-up]{
  /* Notice This selector and notice (*=) it finds any element that has class
  that contains arrow-up in middle
  and maybe connected with other words. Look the mouse on it  */
  color: green;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 50%;
  background-color: lightgreen;
  cursor: pointer;
  transition: 0.3s;
  z-index: 99;
}

[class*=arrow-up]:hover{
  background-color: rgb(116, 215, 116);
}
[class*=arrow-up]:active{
  scale: 0.9;
}

.parag{
  word-spacing: 0.1rem;
  letter-spacing: 0.06rem;
  line-height: 2rem;
}

a.bugs{
  color: orangered;
  position: fixed;
  bottom: 9px;
  left: 4px;
  z-index: 99;
}
a.bugs:hover{
  color: var(--text);
}

  /* =============================
        media query
================================*/
@media (max-width:992px){
  .hide{
    display: none;
  }
  .btn-ui{
    min-width: 10rem;
  }
}

@media (max-width:768px){
  .container{
    width: 95%;
    padding: 2rem 0;
  }
  [class*=arrow-up]{
    font-size: 0.8rem;
    padding: 0.8rem;
    bottom: 66px;
  }
  ul.taps{
    /* flex-direction: row; */
    gap: 1rem;
  }
  .btn-ui{
    min-width: 7.7rem;
  }
  .btn-ui:where(.active,:hover){
    letter-spacing: unset !important;
  }
  a.bugs{
    font-size: 12px;
  }
}
@media(max-width:550px){
  .btn-ui{
    min-width: 7rem;
    
  }
}